@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ywa7i7");
  src: url("fonts/icomoon.eot?ywa7i7#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?ywa7i7") format("truetype"),
    url("fonts/icomoon.woff?ywa7i7") format("woff"),
    url("fonts/icomoon.svg?ywa7i7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bw_modelicabold";
  src: url("fonts/bwmodelica-bold-webfont.woff2") format("woff2"),
    url("fonts/bwmodelica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bw_modelicaextrabold";
  src: url("fonts/bwmodelica-extrabold-webfont.woff2") format("woff2"),
    url("fonts/bwmodelica-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icomoon";
}

.icon-amount:before {
  content: "\e900";
}

.icon-average:before {
  content: "\e901";
}

.icon-quantity:before {
  content: "\e902";
}

.icon-menu:before {
  content: "\e5d2";
}

body {
  font-family: "bw_modelicabold";
}

.base-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stock-container {
  background-color: #e5e5e5;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

.stock-list {
  margin-right: 15px;
}

.stock-item {
  display: flex;
  padding: 10px;
  background-color: #fdfffa;
  margin-bottom: 10px;
  border-radius: 5px;
}

.stock-item:last-child {
  margin-bottom: 0px;
}

.stock-item .section {
  display: flex;
  border-radius: 5px;
  color: #737373;
  background-color: #f9f9f9;
  border: 1px solid #f3f3f3;
  padding: 10px;
  margin-right: 10px;
}

.stock-item .section:last-child {
  margin-right: 0px;
}

.stock-item .section.highlight {
  align-items: center;
  margin-right: 10px;
}

.stock-item .section.highlight .icon-menu {
  font-size: 1.4em;
  margin-right: 15px;
}

.stock-item .section.highlight .cost-title .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1em;
}

.stock-item .section.highlight .cost {
  margin-right: 15px;
  width: 80px;
}

.stock-item .section.highlight .cost .wrapper {
  float: left;
}

.stock-item .section.highlight .cost .wrapper > div {
  text-align: center;
}

.stock-item .section.highlight .cost .cost-title {
  font-family: "bw_modelicaextrabold";
  font-size: 0.7em;
  margin-bottom: 5px;
}

.stock-item .section.highlight .cost .cost-value {
  font-size: 1.2em;
}

.stock-item .section.highlight .cost .cost-value span:last-child {
  font-size: 1.2em;
  color: #38a1a8;
}

.stock-item .section.highlight .title {
  width: 200px;
}

.stock-item .section.highlight .title .name {
  font-size: 1.3em;
  color: #9fb38f;
  margin-bottom: 8px;
}

.stock-item .section.highlight .title .product {
  font-size: 1em;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stock-item .section.highlight .bottom .category {
  width: 200px;
  float: right;
  font-size: 0.7em;
  color: #000000;
  margin-top: 3px;
}

.stock-item .section.cost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
}

.stock-item .section.cost .cost-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-item .section.cost .cost-item .icon {
  width: 20px;
  color: #000000;
}

.stock-item .section.cost .cost-item .name {
  width: 130px;
}

.stock-item .section.cost .cost-item .value {
  width: 75px;
  color: #000000;
}

.stock-item .section.percent-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8em;
  width: 200px;
}

.stock-item .section.percent-detail > div {
  display: flex;
  justify-content: space-between;
}

.stock-item .section.percent-detail .bold {
  color: #000000;
}

.stock-item .section.percent-detail .graph {
  height: 6px;
  width: 100%;
  background-color: #e0dede;
  border-radius: 10px;
  margin-top: 3px;
  overflow: hidden;
}

.stock-item .section.percent-detail .graph .line {
  height: 100%;
  background-color: #03a430;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stock-item .section.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stock-item .section.actions button {
  font-family: "bw_modelicaextrabold";
  color: #ef9c15;
  border: 1px solid #ef9c15;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.stock-graph {
  background-color: #fdfffa;
  padding: 10px;
  border-radius: 5px;
}

.stock-graph .title {
  padding: 10px;
}
